<!DOCTYPE html>
<html>
<head>
  <title>Openjournal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class="container-fluid">
    <h1 style="color:#fc9900;text-align:center;">Page Rank for Open Access Documents for Medicine</h1>
    <div class="row-fluid">

      <ul class="nav nav-tabs">
        <li class="<%= controller.action_name == 'index' ? 'active' : '' %>">
            <%= link_to 'Home', '/' %>
        </li>
        <li class="<%= controller.action_name == 'search' ? 'active' : '' %>">
            <%= link_to 'Search', '/search' %>
        </li>
        <li class="<%= controller.action_name == 'references' ? 'active' : '' %>">
          <%= link_to 'References', '/references' %>
        </li>
      </ul>




       <%= yield %>

    </div>


  </div>



</body>
</html>
